Port 22
Protocol 2
AddressFamily any
ListenAddress 0.0.0.0
ListenAddress ::

HostKey /sshkeys/host/ssh_host_rsa_key
HostKey /sshkeys/host/ssh_host_ecdsa_key
HostKey /sshkeys/host/ssh_host_ed25519_key

PermitRootLogin no
PasswordAuthentication no
KbdInteractiveAuthentication no
ChallengeResponseAuthentication no
PubkeyAuthentication yes
AuthenticationMethods publickey
PermitEmptyPasswords no
AuthorizedKeysFile .ssh/authorized_keys
PermitUserEnvironment yes
StrictModes yes
AllowUsers borg

AllowAgentForwarding no
AllowTcpForwarding no
GatewayPorts no
X11Forwarding no
PermitTTY yes
PermitTunnel no
TCPKeepAlive yes
ClientAliveInterval 300
ClientAliveCountMax 3
UseDNS no
PrintMotd no

Subsystem sftp internal-sftp
